body{
    background-color: black;
    display: flex;
    align-content: space-around;
    justify-content: center;
}

.calculator{
    width: 400px;
    height: 635px;
    background-color: white;
    border: 2px solid yellow;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.screen{
    margin: 20px 12px 10px 10px;
    background-color: black;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 352px;
    height: 100px;
    color: white;
    padding: 10px;
}

#oldnumber{
    text-align: right;
    width: 100%;
    height: 40px;
    margin: 5px;
}

#newnumber{
    text-align: right;
    width: 100%;
    height: 40px;
    margin: 5px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.buttons div{
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
}

.num9, .num8, .num7, .num6, .num5, .num4, .num3, .num2, .num1, .num0, .point{
    width: 70px;
    border: 2px solid black;
    background-color: white;
}

.num9:hover, .num8:hover, .num7:hover, .num6:hover, .num5:hover, .num4:hover, .num3:hover, .num2:hover, .num1:hover, .num0:hover, .point:hover{
    width: 70px;
    border: 2px solid black;
    background-color: rgb(221, 221, 221);
}


.AC, .backspace, .percentage, .division, .multiplication, .subtraction, .addition{
    width: 70px;
    border: 2px solid orange;
}


.equal{
    width: 164px;
    border: 2px solid orange;
}

.AC:hover, .backspace:hover, .percentage:hover, .division:hover, .multiplication:hover, .subtraction:hover, .addition:hover, .equal:hover{
    border: 2px solid orange;
    background-color: rgb(255, 251, 214);
}
